html,body{
    height: 100%
}
#body {
    padding-bottom: 0px;
}
#holder {

    position:relative;
}
#analytics{
    bottom: 0;
    left: 0;
    position: absolute;
}

.headerPic{
	width:80%;

}
h1{
  font-size: 40px;
  font-weight: 900;
	font-family: 'Lato', sans-serif;
  color: #716d6e;
}


.spinner {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: purple;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}